force-app/main/default/flows/CreateProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>NewProjectLineItemListAssignment</name>
        <label>NewProjectLineItemListAssignment</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>NewProjectLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewProjectLineVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOppLineItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewProjectLineItemVariable</name>
        <label>NewProjectLineItemVariable</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>NewProjectLineVariable.QuantityHours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOppLineItemList.QuantityHours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProjectLineVariable.ProjectAssigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewProject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProjectLineVariable.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOppLineItemList.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewProjectLineItemListAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableAssignment</name>
        <label>VariableAssignment</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>NewProject.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProject.FinalAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProject.OppId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProject.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre_Kickoff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProjectManager__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProjectManager__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProject.ProjectManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOppLineItem</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!FirstName} &amp; &quot; &quot; &amp; {!LastName}</expression>
    </formulas>
    <interviewLabel>CreateProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateProject</label>
    <loops>
        <name>LoopOppLineItemList</name>
        <label>LoopOppLineItemList</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>GetOppLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NewProjectLineItemVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateProjectLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateProject</name>
        <label>CreateProject</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>LoopOppLineItemList</targetReference>
        </connector>
        <inputReference>NewProject</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateProjectLineItem</name>
        <label>CreateProjectLineItem</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <inputReference>NewProjectLineItemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOppLineItem</name>
        <label>GetOppLineItem</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProject.OppId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VariableAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>NewProjectLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
    <variables>
        <name>NewProjectLineVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
</Flow>
