force-app/main/default/flows/UpdateStatusSCH.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ActionInLoss</name>
        <label>ActionInLoss</label>
        <locationX>578</locationX>
        <locationY>756</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MailInLoss</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.OppId__r.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>The project is in a loss situation</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ActionNoSquadLead</name>
        <label>ActionNoSquadLead</label>
        <locationX>314</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MailSquadLead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.OppId__r.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>There is not Squad Lead assigned</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MailHoursPending</name>
        <label>MailHoursPending</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MailHoursLeftToAssign</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.OppId__r.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Project without pending</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>MailPMHoursPendingToAssign</name>
        <label>MailPMHoursPendingToAssign</label>
        <locationX>281</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>MailToPMNoSqualLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MailPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TotalHoursPendingToAssign__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MailHoursPending</targetReference>
            </connector>
            <label>MailPM</label>
        </rules>
    </decisions>
    <decisions>
        <name>MailToPMIncaseLoss</name>
        <label>MailToPMIncaseLoss</label>
        <locationX>710</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>UpdateStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MailToPMLoss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinalAmount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.OppId__r.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActionInLoss</targetReference>
            </connector>
            <label>MailToPMLoss</label>
        </rules>
    </decisions>
    <decisions>
        <name>MailToPMNoSqualLead</name>
        <label>MailToPMNoSqualLead</label>
        <locationX>512</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>MailToPMIncaseLoss</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MailToPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SquadLead__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ActionNoSquadLead</targetReference>
            </connector>
            <label>MailToPM</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateDate</name>
        <label>ValidateDate</label>
        <locationX>693</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MailPMHoursPendingToAssign</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <description>The Flow Update the project status pre kickoff to In Progress if the condition are meet</description>
    <interviewLabel>UpdateStatusSCH {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateStatusSCH</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateStatus</name>
        <label>UpdateStatus</label>
        <locationX>842</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>567</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ValidateDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre_Kickoff</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-07</startDate>
            <startTime>10:31:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MailHoursLeftToAssign</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.ProjectManager__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The project of {!$Record.OppId__r.Account.Name} have {!$Record.TotalHoursPendingToAssign__c} hours to left assign.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind Regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;p&gt;SalesforceFlow&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>MailInLoss</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.ProjectManager__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The project of {!$Record.OppId__r.Account.Name} is in a loss situation (Estimated Cost is greater than amount sold). So the project will not pass in to In Progress.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind Regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SalesforceFlow&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>MailSquadLead</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.ProjectManager__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The project of {!$Record.OppId__r.Account.Name} does not have Squad Lead assigned.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt; Kind Regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SalesforceFlow&lt;/p&gt;</text>
    </textTemplates>
</Flow>
