force-app/main/default/flows/updateHoursAllocatedProjectLineItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>variablesAssignment</name>
        <label>variablesAssignment</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>projectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartDateAllocate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDateAllocated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EndDateAllocated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDateAllocated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Resource__r.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCurrentHoursAllocated</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>hoursCalculated</name>
        <dataType>Number</dataType>
        <expression>({!EndDateAllocated}-{!StartDateAllocate})*8</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>updateHoursAllocatedProjectLineItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateHoursAllocatedProjectLineItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCurrentHoursAllocated</name>
        <label>getCurrentHoursAllocated</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateQuantityHoursAllocatedInPrijectLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProjectAssigned__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </filters>
        <object>ProjectLineItem__c</object>
        <outputAssignments>
            <assignToReference>currentQuantityHoursAllocatedInProjectLI</assignToReference>
            <field>QuantityHoursAllocated__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateQuantityHoursAllocatedInPrijectLI</name>
        <label>updateQuantityHoursAllocatedInPrijectLI</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProjectAssigned__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QuantityHoursAllocated__c</field>
            <value>
                <elementReference>hoursCalculated</elementReference>
            </value>
        </inputAssignments>
        <object>ProjectLineItem__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>variablesAssignment</targetReference>
        </connector>
        <object>TeamProgress__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentQuantityHoursAllocatedInProjectLI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EndDateAllocated</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartDateAllocate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
